@{
    ViewData["Title"] = "Home Page";
}

<nav class="navbar navbar-light bg-light px-4">
    <a class="navbar-brand fw-bold" href="/">NEKSARA</a>

    <div class="ms-auto">
        <a asp-action="Login" asp-controller="Auth" class="btn btn-outline-primary">Login</a>
    </div>
</nav>

<div class="row">
    @foreach (var topic in ViewBag.Topics)
    {
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@topic.TopicName</h5>
                    <p class="card-text">@topic.Category.CategoryName</p>
                    <p class="card-text">👁️ @topic.ViewCount views</p>

                    <a asp-action="Detail" asp-controller="Topic" asp-route-id="@topic.TopicId" class="btn btn-primary">Learn</a>
                </div>
            </div>
        </div>
    }
</div>
