/* _content/NeksaraArief/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-zy3v16fof6] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-zy3v16fof6] {
  color: #0077cc;
}

.btn-primary[b-zy3v16fof6] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-zy3v16fof6],
.nav-pills .show>.nav-link[b-zy3v16fof6] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-zy3v16fof6] {
  border-top: 1px solid #e5e5e5;
}

.border-bottom[b-zy3v16fof6] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-zy3v16fof6] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-zy3v16fof6] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-zy3v16fof6] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.toast[b-zy3v16fof6] {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #333;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  animation: fadeOut-b-zy3v16fof6 4s forwards;
}

@keyframes fadeOut-b-zy3v16fof6 {
  0% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
