@model Admin

@{ Layout = "_AdminLayout"; }

<h2>Create Admin User</h2>
<hr />

<form method="post">
    <input name="Name" placeholder="Name" />
    <input name="Email" placeholder="Email" />
    <input name="Password" placeholder="Password" />

    <select name="Role">
        <option value="Admin">Admin</option>
        <option value="SuperAdmin">Super Admin</option>
    </select><br /><br />

    <button>Save</button>
</form>
