@model Topic

@{ Layout = "_AdminLayout"; }

<h2>Create New Topic</h2>
<hr />

<form method="post">
    <input name="TopicName" placeholder="Topic Name..." /><br /><br />

    <select name="CategoryId">
        @foreach (var category in ViewBag.Categories)
        {
            <option value="@category.CategoryId">@category.CategoryName</option>
        }
    </select><br /><br />

    <textarea name="Description" placeholder="Description..."></textarea><br /><br />

    <input name="PictTopic" placeholder="Pict Topic..." /><br /><br />

    <input name="VideoUrl" placeholder="Video Url..." /><br /><br />

    <button>Save</button>
</form>
